<%= stylesheet_link_tag "personal.css" %>


<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box">
<h2>Crear Cuenta</h2>
<div class="panel panel-primary" style="border-radius: 14px">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages!%>

<br>
  




  <div class="field" style="padding-top: 15px;">
    
    <!--<%= f.label :email%><br /><br/>-->
    <span class="glyphicon glyphicon-user"style="color:#1565c0;"></span>&nbsp; 
    <%= f.email_field :email, autofocus: true,placeholder: "Enter email",style:"border-radius:4px" %>
  </div>


  <div class="field" >
    <!--<%= f.label :password %><br /> -->
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <span class="glyphicon glyphicon-lock" style="color:#1565c0;"></span>&nbsp; 
    <%= f.password_field :password, autocomplete: "off", placeholder:"Enter password",style:"border-radius:4px" %>
  </div>

  <div class="field" >
    <!--<%= f.label :password_confirmation %><br /> -->
    <span class="glyphicon glyphicon-lock" style="color:#1565c0;"></span>&nbsp;
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"password confirmation",style:"border-radius:4px" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",class:"btn btn-primary btn-lg",style:"border-radius:5px;height:40px;"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
</div>

</center>

