<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @company_information.Sector %>
</p>

<p>
  <strong>Businessactivity:</strong>
  <%= @company_information.BusinessActivity %>
</p>

<p>
  <strong>Reasonpartner:</strong>
  <%= @company_information.ReasonPartner %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company_information.Address %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @company_information.Unity %>
</p>

<p>
  <strong>City:</strong>
  <%= @company_information.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @company_information.State %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @company_information.Cp %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company_information.Phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @company_information.CellPhone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company_information.Email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company_information.Website %>
</p>

<p>
  <strong>Boss:</strong>
  <%= @company_information.Boss %>
</p>

<p>
  <strong>Area:</strong>
  <%= @company_information.Area %>
</p>

<p>
  <strong>Primarysector:</strong>
  <%= @company_information.PrimarySector %>
</p>

<p>
  <strong>Secondarysector:</strong>
  <%= @company_information.SecondarySector %>
</p>

<p>
  <strong>Thirdsector:</strong>
  <%= @company_information.ThirdSector %>
</p>

<p>
  <strong>Levelstudy:</strong>
  <%= @company_information.LevelStudy %>
</p>

<p>
  <strong>Updatecourses:</strong>
  <%= @company_information.UpdateCourses %>
</p>

<p>
  <strong>Postgraduate:</strong>
  <%= @company_information.Postgraduate %>
</p>

<p>
  <strong>Areapostgraduate:</strong>
  <%= @company_information.AreaPostgraduate %>
</p>

<p>
  <strong>Socialorganizations:</strong>
  <%= @company_information.SocialOrganizations %>
</p>

<p>
  <strong>Which:</strong>
  <%= @company_information.Which %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @company_information.Committee %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @company_information.Recommendation %>
</p>

<%= link_to 'Edit', edit_company_information_path(@company_information) %> |
<%= link_to 'Back', company_informations_path %>
