<p id="notice"><%= notice %></p>

<h1>Employment Informations</h1>

<table>
  <thead>
    <tr>
      <th>Question1</th>
      <th>Question2</th>
      <th>Question2s</th>
      <th>Question2i</th>
      <th>Question3</th>
      <th>Question4</th>
      <th>Question5</th>
      <th>Question6</th>
      <th>Question6s</th>
      <th>Question7</th>
      <th>Question7o</th>
      <th>Speaks</th>
      <th>Writes</th>
      <th>Read</th>
      <th>Listento</th>
      <th>Question9</th>
      <th>Question10</th>
      <th>Question11</th>
      <th>Question12</th>
      <th>Question12o</th>
      <th>Question13</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employment_informations.each do |employment_information| %>
      <tr>
        <td><%= employment_information.Question1 %></td>
        <td><%= employment_information.Question2 %></td>
        <td><%= employment_information.Question2S %></td>
        <td><%= employment_information.Question2I %></td>
        <td><%= employment_information.Question3 %></td>
        <td><%= employment_information.Question4 %></td>
        <td><%= employment_information.Question5 %></td>
        <td><%= employment_information.Question6 %></td>
        <td><%= employment_information.Question6S %></td>
        <td><%= employment_information.Question7 %></td>
        <td><%= employment_information.Question7O %></td>
        <td><%= employment_information.Speaks %></td>
        <td><%= employment_information.Writes %></td>
        <td><%= employment_information.Read %></td>
        <td><%= employment_information.ListenTo %></td>
        <td><%= employment_information.Question9 %></td>
        <td><%= employment_information.Question10 %></td>
        <td><%= employment_information.Question11 %></td>
        <td><%= employment_information.Question12 %></td>
        <td><%= employment_information.Question12O %></td>
        <td><%= employment_information.Question13 %></td>
        <td><%= link_to 'Show', employment_information %></td>
        <td><%= link_to 'Edit', edit_employment_information_path(employment_information) %></td>
        <td><%= link_to 'Destroy', employment_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment Information', new_employment_information_path %>
